body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.player{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  
}
.card{
  text-align: center;
  align-items: center;
  padding-top: 10px;
}
.card-text:last-child{
  color: black;
}
.main h1{
  
  text-align: center;
  color: gray;
  padding-top:20px ;
}

